<header class="site-header">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 d-flex flex-wrap">
                <p class="d-flex me-4 mb-0">
                    <i class="bi-geo-alt me-2"></i>
                    12, Av. Maniema, Q/ Ndendere, Bukavu, RDC
                </p>

                <p class="d-flex mb-0 me-4">
                    <i class="bi-envelope me-2"></i>

                    <a href="mailto:info@aed-rdc.org">
                        info@aed-rdc.org
                    </a>
                </p>

                <p class="d-flex mb-0 me-4">
                    <i class="bi-telephone me-2"></i>

                    <a href="tel:+243997125976" style="margin-right: 10px;">
                        +243 997 125 976
                    </a> |
                    <a href="tel:+243997125976" style="margin-left: 10px;">
                        +243 818 792 811
                    </a>
                </p>

            </div>

            <div class="col-lg-3 col-12 ms-auto d-lg-block d-none">
                <ul class="social-icon">
                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link bi-twitter"></a>
                    </li>

                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link bi-facebook"></a>
                    </li>

                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link bi-instagram"></a>
                    </li>

                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link bi-youtube"></a>
                    </li>

                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link bi-whatsapp"></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</header>

<nav class="navbar navbar-expand-lg bg-light shadow-lg">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/images/logo.png" class="logo img-fluid" alt="AED" style="width: 70px; margin-top: 5px; margin-bottom: 5px;">
            <span>
                <div style="display: flex; flex-direction: column; font-size: 18px">
                    <span style="margin-bottom: -7px;">Agir Ensemble pour le</span>
                    <span>Développement</span>
                </div>
                <small>ASSOCIATION SANS BUT LUCRATIF</small>
            </span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link <%= titre === 'Home' ? 'active' : '' %>" href="/">Accueil</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link <%= titre === 'About' ? 'active' : '' %>" href="/about">À propos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link <%= titre === 'Goals' ? 'active' : '' %>" href="/goals">Objectifs</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link <%= titre === 'Blog' ? 'active' : '' %>" href="/blog">Blog</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link <%= titre === 'Contacts' ? 'active' : '' %>" href="/contacts">Contacts</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link <%= titre === 'Gallery' ? 'active' : '' %>" href="/gallery">Gallerie</a>
                </li>

                <!-- <li class="nav-item dropdown">
                    <a class="nav-link click-scroll dropdown-toggle" href="#section_5"
                        id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">News</a>

                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                        <li><a class="dropdown-item" href="news.html">News Listing</a></li>

                        <li><a class="dropdown-item" href="news-detail.html">News Detail</a></li>
                    </ul>
                </li> -->

                <!-- <li class="nav-item ms-3">
                    <a class="nav-link custom-btn custom-border-btn btn" href="donate.html">Donate</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>